@import "tailwindcss";

html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}

.team-char {
  display: inline-block;
  will-change: transform;
}

@theme {
  --font-monument: var(--font-monument);
  --font-bitcount: var(--font-bitcount);
  --font-mono: var(--font-space-mono);
}